body {
    background: linear-gradient(135deg, white 15%, #5cc6ee 60%);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.team-container {
    text-align: center;
    padding: 50px;
}

.team-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.team-member {
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
}

.team-member:hover {
    transform: scale(1.05);
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.team-member img:hover {
    transform: scale(1.1);
}

.team-member h2 {
    font-size: 22px;
    color: #007bff;
    margin: 10px 0;
}

.team-member p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.back-button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 60px;
    margin-left: 560px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.tactbutton{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.back-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.back-button:active {
    background-color: #004494;
    transform: scale(1.02);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
